@font-face {
    font-family: "Bolded";
    src: url(assets/fonts/Ubuntu-Bold.ttf);
}
@font-face {
    font-family: "Medium";
    src: url(assets/fonts/Ubuntu-Medium.ttf);
}
@font-face {
    font-family: "Regular";
    src: url(assets/fonts/Ubuntu-Regular.ttf);
}

#plan, #personal-info, #add-ons, #summary, #confirm {
    display: none;
}

body {
    background-image: url(assets/images/bg-sidebar-mobile.svg);
    background-repeat: no-repeat;
    background-color: #d9e2e7;
}

.form-wrapper {
    font-family: "Regular";
    margin-top: 25px;
}

.button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.step-number {
    text-align: center;
    border-radius: 100%;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    margin: 4px;
    width: 35px;
    height: 35px;
}

#multistep-form {
    background-color: #ffffff;
    border-radius: 20px;
    margin: 30px 1.5% 0px 1.5%;
    padding: 3% 6% 7%;
    min-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    width: 80rem;
}

.tab-header {
    font-family: "Bolded" ;
    font-size: 1.6em;
    margin-bottom: 7px;
}

.tab-description {
    font-size: 1.1em;
    color: rgb(145, 144, 144);
    line-height: 1.5;
}

#personal-info label{
    font-size: 13px;
    margin-top: 10px;
    display: block;
    margin-bottom: 3px;
}

input[type="text"], input[type="email"] {
    font-family: "Bolded";
    font-size: 15px;
    width: 80vw;
    height: 40px;
    border-radius: 5px;
    border: 1px solid lightgray;
    padding-left: 15px;
}

#plan input[type="radio"] {
    display: none;
}

#plan img {
    position: relative;
    bottom: 50px;
}

#plan h2, #plan p {
    margin-left: 50px;
    margin-top: 15px;
    line-height: .5;
}

#plan h2 {
    font-size: 15px;
}

#plan p {
    font-size: 13px;
    color: rgb(145, 144, 144);
}

#plan label, #add-ons label {
    display: block;
    border: 1px solid black;
    cursor: pointer;
    margin-top: 15px;
    border-radius: 10px;
    width: 80vw;
    min-width: 300px;
    max-height: 55px;
    padding: 10px;
}

#add-ons input {
    float: left;
    margin-top: 14px;
    cursor: pointer;
    margin-right: 15px;
    border-radius: 50%;
}

.addon-title {
    display: inline;
    font-size: 15px;
    line-height: 1.2;
}

.addon-price {
    float: right;
    margin-top: 12px;
    margin-right: 10px;
    font-size: 12px;
    color: rgb(49, 11, 189);
}

.addon-description {
    margin-top: 2px;
    margin-bottom: 5px;
    padding-left: 20px;
    font-size: 14px;
    color: rgb(145, 144, 144);
}





.footer {
    position: fixed;
    background-color: white;
    left: 0;
    bottom: 0;
    height: 70px;
    width: 100%;
}

#go-back-btn {
    font-family: "Medium";
    background-color: white;
    color: gray;
    border: none;
    border-radius: 5px;
    position: fixed;
    bottom: 29px;
    left: 10px;
}

#next-step-btn {
    background-color: darkblue;
    color: white;
    border: none;
    border-radius: 5px;
    height: 40px;
    width: 90px;
    position: fixed;
    bottom: 17px;
    right: 10px;
}


.highlight {
    background-color: lightblue;
    color: black;
}