@font-face {
    font-family: "Bolded";
    src: url(assets/fonts/Ubuntu-Bold.ttf);
}
@font-face {
    font-family: "Medium";
    src: url(assets/fonts/Ubuntu-Medium.ttf);
}
@font-face {
    font-family: "Regular";
    src: url(assets/fonts/Ubuntu-Regular.ttf);
}



/* Mobile */
body {
    background-image: url(assets/images/bg-sidebar-mobile.svg);
    background-repeat: no-repeat;
    background-color: #d9e2e7;
}


/* Display for entire form */
.form-wrapper {
    font-family: "Regular";
    margin-top: 25px;
}


/* Step buttons */
.button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.step-number {
    text-align: center;
    border-radius: 100%;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    margin: 4px;
    width: 35px;
    height: 35px;
}

.button-wrapper p {
    display: none;
}


/* Form/Tabs */
#multistep-form {
    background-color: #ffffff;
    border-radius: 20px;
    margin-top: 20px;
    padding: 6% 7% 9%;
    min-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    width: 80rem;
}

.tab-header {
    font-family: "Bolded" ;
    font-size: 1.6em;
    margin-bottom: 7px;
}

.tab-description {
    font-size: 1.1em;
    color: rgb(145, 144, 144);
    line-height: 1.5;
}


/* Personal Info tab */
#personal-info label{
    font-size: 13px;
    margin-top: 10px;
    display: block;
    margin-bottom: 3px;
}

input[type="text"], input[type="email"] {
    font-family: "Bolded";
    font-size: 15px;
    width: 80vw;
    height: 40px;
    border-radius: 5px;
    border: 1px solid lightgray;
    padding-left: 15px;
}


/* Plans tab */
#plan input[type="radio"] {
    display: none;
}

#plan img {
    position: relative;
    bottom: 50px;
}

#plan h2, #plan p {
    margin-left: 50px;
    margin-top: 15px;
    line-height: .5;
}

#plan h2 {
    font-size: 15px;
}

#plan p {
    font-size: 13px;
    color: rgb(145, 144, 144);
}

#plan label, #addons label {
    display: block;
    border: 1px solid rgb(214, 214, 214);
    cursor: pointer;
    margin-top: 15px;
    border-radius: 10px;
    width: 80vw;
    min-width: 300px;
    max-height: 55px;
    padding: 10px;
}


/* Addons tab */
#addons input {
    float: left;
    margin-top: 14px;
    cursor: pointer;
    margin-right: 15px;
    border-radius: 50%;
}

.addon-title {
    color: rgb(12, 12, 102);
    display: inline;
    font-size: 15px;
    line-height: 1.2;
}

.addon-price {
    float: right;
    margin-top: 12px;
    margin-right: 10px;
    font-size: 12px;
    color: rgb(49, 11, 189);
}

.addon-description {
    margin-top: 2px;
    margin-bottom: 5px;
    padding-left: 20px;
    font-size: 14px;
    color: rgb(145, 144, 144);
}


/* Summary tab */
#chosen-addons p, #total {
    color: rgb(156, 156, 156);
}

#change {
    color: rgb(136, 32, 136);
}

.totalling-container {
    font-family: "Regular";
    margin-top: 15px;
    padding: 5px 10px 5px 10px;
    background-color: rgb(247, 247, 247);
    border-radius: 10px;
}

.plan-choice {
    color: rgb(24, 25, 104);
    font-family: "Bolded";
    margin-bottom: 4px;
}

.plan-choice span {
    margin-top: 13px;
    float: right;
}

.divider {
    margin-top: 10px;
    border: 1px solid rgb(233, 233, 233);
    display: block;
}

#chosen-addons span {
    float: right;
    margin-top: 2px;
    font-size: 13px;
    color: rgb(26, 27, 77);
}

#total {
    float: left;
    margin-top: 20px;
}

#total-price {
    font-family: "Bolded";
    float: right;
    margin-top: 20px;
    color: rgb(48, 14, 141);
}


/* Thank You tab */
#thank-you {
    font-size: 15px;
    margin: 50px 0;
    text-align: center;
}

#thank-you img {
    width: 50px;
}



/* Bottom buttons */
.footer {
    position: fixed;
    background-color: white;
    left: 0;
    bottom: 0;
    height: 70px;
    width: 100%;
}

#go-back-btn {
    font-family: "Medium";
    background-color: white;
    color: gray;
    border: none;
    border-radius: 5px;
    position: fixed;
    bottom: 29px;
    left: 10px;
    cursor: pointer;
}

#next-step-btn, #confirm {
    background-color: darkblue;
    color: white;
    border: none;
    border-radius: 5px;
    height: 40px;
    width: 90px;
    position: fixed;
    bottom: 17px;
    right: 10px;
    cursor: pointer;
}



/* Special Classes */
.hidden {
    display: none;
}

.highlight-step {
    background-color: lightblue !important;
    color: black !important;
}

.highlight-chosen {
    background-color: rgb(237, 232, 247);
    border: 1px solid rgb(16, 4, 36) !important;
}


/* Tablet */
@media (width > 375px) and (width < 1100px) {
    body {
        background-image: none;
    }
}


/* Desktop */
@media (width >= 1100px) {

    body {
        background-image: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    /* Step Buttons */
    .button-wrapper {
        background-image: url(assets/images/bg-sidebar-desktop.svg);
        background-size: contain;
        grid-area: steps;
        border-radius: 10px;
        margin: 20px;
    }

    .step-number {
        text-align: center;
        display: inline;
        border-radius: 100%;
        background-color: transparent;
        margin-bottom: 20px;
        margin-top: 30px;
        color: white;
        width: 35px;
        height: 35px;
        position: relative;
        bottom: 140px;
        right: 35px;
    }

    .button-wrapper p {
        display: inline;
        text-align: left;
        margin-left: 10px;
        font-family: "Regular";
        color: rgb(185, 182, 182);
        position: relative;
        bottom: 150px;
        right: 40px;
    }

    .button-wrapper span {
        display: block;
        margin-top:  -27px;
        margin-left: 57px;
        font-family: "Bolded";
        color: white;
    }

    /* Display for entire form */
    .form-wrapper {
        display: grid;
        grid-template-areas:
            "steps . tab tab"
            "steps . tab tab"
            "steps . buttons buttons";
        grid-template-columns: 325px .8fr 40% 140px;
        grid-template-rows: 500px 10px 120px;
        margin-top: 80px;
        background-color: white;
        border-radius: 20px;
        width: 65vw;
    }


    /* Form/Tabs */
    #multistep-form {
        background-color: transparent;
        grid-area: tab;
        margin: 0;
        padding: 30px;
        width: 30vw;
        min-width: 250px;
    }

    .tab-description {
        font-size: 1.1vw;
    }

    .tab-header {
        font-size: 2.5vw;
    }

    #personal-info input {
        width: 95%;
        margin-bottom: 20px;
    }

    #plan label, #addons label {
        width: 95%;
    }


    /* Bottom buttons */
    .footer {
        background-color: transparent;
        position: unset;
        display: inline;
        grid-area: buttons;
    }

    #go-back-btn, #next-step-btn, #confirm {
        position: unset;
    }

    #go-back-btn {
        font-family: "Medium";
        background-color: white;
        color: gray;
        border: none;
        position: relative;
        top: 50px;
        left: 20px;
        border-radius: 5px;
    }

    #next-step-btn, #confirm {
        background-color: darkblue;
        color: white;
        border: none;
        border-radius: 5px;
        height: 40px;
        width: 110px;
        position: absolute;
        left: 71.5vw;
        top: 640px;
    }
}